.out-btn{
    position: absolute;
    right: 15px;
    top: 12px;
    background-color: #66BB6A !important;
}
.salary-title{
    font-weight: bolder;
    color: #330066;
}
.laydate-btns-confirm{
    background-color: #2196F3!important;
    border-color: #2196F3 !important;
    color: #fff!important;
}

.laydate-btns-confirm:hover{
    background-color: #1565C0!important;
    border-color: #1565C0 !important;
}
.laydate-btns-now{
    background-color: #66BB6A!important;
    border-color: #66BB6A !important;
    color: #fff!important;
}

.laydate-btns-now:hover{
    background-color: #43A047!important;
    border-color: #43A047 !important;
}
.laydate-btns-clear{
    background-color: #EF5350!important;
    border-color: #EF5350 !important;
    color: #fff!important;
}

.laydate-btns-clear:hover{
    background-color: #E53935!important;
    border-color: #E53935 !important;
}